-e .
Flask
Flask-Cors
dotenv
dvc
dvc[s3]
ensure==1.0.2
gdown
joblib
matplotlib
mlflow==2.2.2
notebook
numpy
optuna>=3.0.0
pandas
pyYAML
python-box==6.0.2
pytorch-lightning==2.4.0
scipy
seaborn
torch==2.4.1
torchvision==0.19.1
tqdm
types-PyYAML
